//- 更新情報などの表示する

include _show_header

include _info_data
- var num = 100;
- var info_length = info.length;

.panel.panel-primary
  .panel-heading
    span.glyphicon.glyphicon-info-sign
    | 新着情報
  ul.list-group
    for val, index in info
      if index < num
        a.list-group-item.collapse-item.collapsed(class="list-group-item-#{val.type}",name="#{info_length}",data-toggle="collapse",data-target="#item-#{info_length}")
          span.badge.pull-left #{val.date}
          h4.list-group-item-heading #{val.title}
          div.collapse(id="item-#{info_length--}")
            p.list-group-item-text #{val.msg}

script.
  $(function() {
    $(location.hash.replace("#","#item-")).click();
  });
